@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

.weatherIcon {
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 100px;
    color: rgb(0, 0, 0)
}

.weatherIcon i {
    padding-top: 30px;
}